<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<div class="container page">
				<hr>
				<% if (user.setup === false) {
					%>
					<h1>Please setup account before you can search for matches</h1>
					<a class="nav-link" href="/profile">&lt;Profile/&gt;</a>
					<%
				} else {
					%>
					<div class="card-group mr-auto ml-auto">
						<div class="w-100">
							<!--Cards-->
							<% 
								for (var i = 0; i < matches.length; i++) { %>
									<div class="card text-white bg-dark rounded" class="w-100">
										<div class="card-body">
											<h5 class="card-title"><%= matches[i]['username'] %></h5>
											<p class="card-text"><%= matches[i]['biography'] %></p>
											<a href="/view/<%= matches[i]['_id'] %>" class="btn btn-primary">View</a>
											<a href="/unmatch/<%= matches[i]['_id'] %>" class="btn btn-primary">unMatch</a>
											<a href="/block/<%= matches[i]['_id'] %>" class="btn btn-warning">Block</a>
											<a href="/report/<%= matches[i]['_id'] %>" class="btn btn-danger">Report</a>
										</div>
									</div>
									<hr>
									<% 
								}
							%>
							<hr>
							<!--End of Cards-->
						</div>
					</div>
					<% } %>
					<hr>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>