<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
		<script>
				$(document).ready(function(){
					$("#Create").click(() => {
						$.post('/generate',
						{}).done(
							()=>{
								location.reload()
							}
						);
					})
					$("#Delete").click(() => {
						$.post('/resetall',
						{}).done(
							()=>{
								location.reload()
							});
					})
				})
		</script>
	</header>
	<main>
		<div class="container page rounded-bottom">
			<h1>Admin Page</h1>
			<div class="row w-100" style="padding: 10px;">
				<input id="Create" class="btn btn-primary" type='submit' value="Create Users" > <br>
				<input id="Delete" class="btn btn-warning" type="submit" value="Delete Users"> <br>
				<!-- <input class="btn btm-sucess" type="submit" value="Create Dummy Admin" onclick="location.href='/createAdmin'"> -->
			</div>
			<% 
			var usercount = results.length;
			if (results){ 
				%>
			<p>Total Users:: <%= usercount %></p>
			<div class="card-group mr-auto ml-auto">
			<% for (var i = 0; i < usercount; i++){ %>
				<% 
				var uid = results[i]['_id']; 
				var uname = results[i]['username'];
				var pass = results[i]['password'];
				var type = results[i]['utype'];
				var bio = results[i]['biography'];
				%>
					<div class="w-100">
						<div class="card text-white bg-dark rounded" class="w-100">
							<div class="card-body">
								<p>
									Username: <%= uname; %> Type : <%= type %>
								</p>
								<p>
									biography: <%= bio; %>
								</p>
								<p>
									id: <%= uid %>
								</p>
								<% if (user['_id'] != results[i]['_id']) { %> 
								<input class="btn btn-warning" type="submit" value="Delete User: <%= uname %>" onclick='location.href="/delete/<%= uid %>"'>
								<%}%>
								<hr>
							</div>
						</div>
					</div>
			<% }
			%>
			</div>
			<%
			 } %>
		</div>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>