<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="jumbotron">
			<h1>Admin Page</h1>
			<div class="container">
				<input class="btn btn-primary" type='submit' value="Create User" onclick="location.href='/create'"> <br>
				<input class="btn btn-warning" type="submit" value="Delete Users" onclick="location.href='/deleteall'"> <br>
				<input class="btn btm-sucess" type="submit" value="Create Dummy Admin" onclick="location.href='/createAdmin'">
			</div>
			<% 
			var usercount = results.length;
			if (results){ 
				%>
			<p>Total Users:: <%= usercount %></p>
			<% for (var i = 0; i < usercount; i++){ %>
				<% 
				var uid = results[i]['_id']; 
				var uname = results[i]['username'];
				var pass = results[i]['password'];
				var type = results[i]['type'];
				%>
				<p>
					Username: <%= uname; %> Type : <%= type %>
				</p>
				<p>
					password: <%= pass; %>
				</p>
				<p>
					id: <%= uid %>
				</p>
				<input class="btn btn-warning" type="submit" value="Delete User: <%= uname %>" onclick='location.href="/delete/<%= uname %>"'>
				<hr>
			<% }
			 } %>
		</div>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>