<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
</head>
<body class="container">
	<header>
		<% include ../../partials/header %>
		<script src="/js/profile.js"></script>
	</header>
	<% 
	if (user) {
		var username = user['username'] === null ? 'You\'re in dire need of an username' : user['username'];
		var img1 = user['picture.Picture1'];
		var img2 = user['picture.Picture2'];
		var img3 = user['picture.Picture3'];
		var img4 = user['picture.Picture4'];
		var img5 = user['picture.Picture5'];
		var prof = user['Prof'];
		var subscription = user['email_subscription'];
		var biography = user['biography'];
		var fame = user['fame'];
		var age = user['age'];
		var email = user['email'];
		var userType = user['type'];
		var Sexuality = user['sexuality'];
		var Gender = user['sex'];
		var firstname = user['firstname'] === null ? 'You\'re in dire need of a firstname' : user['firstname'];
		var lastname = user['surname'] === null ? 'You\'re in dire need of a lastname' : user['surname'];
		var tags = user['tags'];
	}
	%>
	<main>
		<input type="hidden" id="hiddenemail" value="<%= email %>">
		<div class="container bg-light rounded-bottom mh-100 page">
			<hr>
			<div class="row">
				<h3>&lt;Profile Page of "</h3>
					<div class="control-group">
						<h3 for="name" class="username-label edit-label" data-toggle="tooltip" data-placement="right" title="Click here to change your username!"><%= username %></h3>
						<input type="text" class="username-edit-input" style="display: none;" />
					</div>
				<h3>"/&gt;</h3>
			</div>
			<p>&lt;
				<label class="email-label edit-label" data-toggle="tooltip" data-placement="right" title="Click here to change your email!"><%= email %></label>
				<input type="text" class="email-edit-input w-50" style="display: none;">
			/&gt;</p>
			<p>Type: <%= userType %></p>
		<!--TEMPLATE-->
		<div class="row">
			<div class="col-lg-4">
				<div class="column">
					<div class="container-img pic w-100">
						<img src="<%= prof %>" alt="Prof Pic" class="img-thumbnail w-100">
						<div class="overlay">
							<a href="#" class="icon" title="User Profile">
							<i class="fa fa-plus"></i>
							</a>
						</div>
					</div>
					<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
					<div class="d-flex justify-content-center flex-row-reverse">
						<span id="fameRating" class="fa fa-star checked"></span>
						<span id="fameRating" class="fa fa-star checked"></span>
						<span id="fameRating" class="fa fa-star checked"></span>
						<span id="fameRating" class="fa fa-star"></span>
						<span id="fameRating" class="fa fa-star"></span>
					</div>
					<div class="form-group">
					<label for="biography">&lt;About me/&gt;</label>
					<textarea class="form-control" id="biography" rows="5" style="resize: none" maxlength="150"><%= biography %></textarea>
					<label for="biography" id="biographylength"></label>
				</div>
			</div>
			<hr>
			</div>
			<div class="col-lg-8">
				<div class="coloumn">
					<p>
					Name::
					&lt;<label class="firstname-label edit-label" data-toggle="tooltip" data-placement="right" title="Click here to change your firstname!"><%= firstname %></label>
						<input type="text" class="firstname-edit-input w-25" style="display: none;">
					/&gt;</p>
					<p>
					Surname::
					&lt;
						<label class="lastname-label edit-label" data-toggle="tooltip" data-placement="right" title="Click here to change your lastname!"><%= lastname %></label>
						<input type="text" class="lastname-edit-input w-25" style="display: none;">
					/&gt;</p>
					<div class="coloumn">
							<!--Date input-->
							<form>
								<div class="form-group">
									<label class="control-label" for="DateOfBirth">&lt;Date of birth/&gt;</label>
									<input class="form-control" id="DateOfBirth" name="date" type="date" min="1900-01-00" max="2000-01-00"/>
								</div>
							</form>
					<!--Sexuality-->
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<label class="input-group-text" for="SexualityGroup">Sexuality</label>
							</div>
							<select class="custom-select" id="SexualityGroup">
							<% if (Sexuality === '1') { %>
								<option value="1" selected>Bisexual</option>
							<% } else { %>
								<option value="1" >Bisexual</option>
							<% } %>
							<% if (Sexuality === '2') { %>
								<option value="2" selected>Heterosexual</option>
							<% }else{ %>
								<option value="2" >Heterosexual</option>
							<% } %>
							<% if (Sexuality === '3') { %>
								<option value="3" selected>Homosexual</option>
							<% } else { %>
								<option value="3" >Homosexual</option>
							<% } %>
							</select>
						</div>
						<!--Gender-->
						<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="GenderGroup">Gender&nbsp;&nbsp;&nbsp;</label>
						</div>
						<select class="custom-select" id="GenderGroup">
						<% if (Gender === '1') { %>
							<option value="1" selected>Female</option>
						<% } else { %>
							<option value="1" >Female</option>
						<% } %>
						<% if (Gender === '2') { %>
							<option value="2" selected>Male</option>
						<% }else{ %>
							<option value="2" >Male</option>
						<% } %>
						<% if (Gender === '3') { %>
							<option value="3" selected>Other</option>
						<% } else { %>
							<option value="3" >Other</option>
						<% } %>
						</select>
				</div>
			</div>
		</div>
		<hr>
			<div class="ui-widgets w-100 row">
				<label class="w-25" for="tags">Likes: </label>
				<input type="text" id="tags" class="w-75">
			</div>
		</div>
			<div class="grid">
				<ul>
				<% for (var i = 0; i < tags.length; i++) { %>
					<li><%= tags[i] %></li>
				<% } %>
				</ul>
			</div>
		</div>
		<hr>
		<p class='w-100 text-center'>To edit your profile, click on the element you wish to edit</p>
		<hr>
		<div class="row">
			<input class="w-100 btn btn-danger" type="button" id="deleteprofile" value="Delete profile">
		</div>
	</div>
		<!--End Template-->
	</main>
		<% include ../../partials/error %>
	<footer>
		<% include ../../partials/footer %>
	</footer>
</body>
</html>