<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		
		<header>
			<% include ../partials/header %>
		</header>
		<script>
			var availableTags = []
			var mytags = []
			$(document).ready(() => {
				$('#tags').keypress((e) => {
					if (e.which == 13) {
						e.preventDefault()
						var tag = $('#tags').val();
						$('#tags').val('');
						$('#tags').text('');
						if (tag)
						{
							mytags.push(tag)
							$('#likes-list').append('<label class="edit-label" name="likelist[]"> '+tag+' </label>');
						}
				}});
				$('#filterSubmit').click(() => {
					mytags.forEach(e => {
						
					})
					$('#filterForm').submit()
				})
				$('#inputTag').click(() => {
					
				})
				$('#inputTag').keypress((e) => { e.preventDefault(); return false; })
			})
			setInterval(function(){
				$.get('/tags/get').done(result => {
					(result).forEach(element => {
						if (availableTags.indexOf(element['Tag']) === -1)
							availableTags.push(element['Tag']);
						$('#tags').autocomplete({
							source: availableTags
						})
					});
				})
			}, 10000);
		</script>
		<main>
			<div class="container page">
				<hr>
				<% if (false) {
					%>
					<h1>Please setup account before you can search for users</h1>
					<a class="nav-link" href="/profile">Profile</a>
					<%
					}else
					{
						%>
						<div class="container w-auto">
							<form id='filterForm' method="GET" action="/filter">
								<div class="row">
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MinAge" name="minAge">
									</div>
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MaxAge" name="maxAge">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MinDistance" name="minDistance">
									</div>
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MaxDistance" name="maxDistance">
									</div>
								</div>
								<div class="row">
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MinCompatibility" name="MinCompatibility">
									</div>
									<div class="form-group col-sm">
										<input type="number" style="background-color: white; color: black;" class="w-100" placeholder="MaxCompatibility" name="MaxCompatibility">
									</div>
								</div>
								<div class="row">
									<div class="input-group mb-3 col-sm">
										<div class="input-group-prepend">
											<label class="input-group-text" for="SexualityGroup">Sexuality</label>
										</div>
										<select name="sexuailty" class="custom-select" id="SexualityGroup">
											<option value="1" selected>Bisexual</option>
											<option value="2" >Heterosexual</option>
											<option value="3" >Homosexual</option>
										</select>
									</div>
									<div class="input-group mb-3 col-sm">
										<div class="input-group-prepend">
											<label class="input-group-text" for="GenderGroup">Gender&nbsp;&nbsp;&nbsp;</label>
										</div>
										<select name="sex" class="custom-select" id="GenderGroup">
											<option value="1" selected>Female</option>
											<option value="2" >Male</option>
											<option value="3" >Other</option>
										</select>
									</div>	
								</div>
								<div class="row">
									<div class="col-sm">
										<input id="filterSubmit" type="submit" value="Filter" style="background-color: black; color: white;" class="w-100" name="submit">
									</div>
								</div>
							</form>
							<hr>
						</div>
						<%
					}
					if (users.length == 0)
					{
						%>
							<h1>You currently don't have any matches based on your search paramaters available</h1>
						<%
					}
					else
					{ %>
						<div class="w-100">
							<!--Cards-->
							<%
								for (var i = 0; i < users.length; i++) {
									if (users[i]['_id'].toString() != user['_id'].toString())
									{
										%>
										<div class="card text-white bg-dark rounded" class="w-25">
										<img class="card-img" src="<%= users[i]['profile_picture'] %>" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title"><%= users[i]['username'] %></h5>
											<p class="card-text"><%= users[i]['biography'] %></p>
											<% 
												var sexuality = "";
												if (users[i]['sexuality'] === "1")
													sexuality = "Bisexual";
												if (users[i]['sexuality'] === "2")
													sexuality = "Heterosexual";
												if (users[i]['sexuality'] === "3")
													sexuality = "Homosexual";
												
												var sex = "";
												if (users[i]['sex'] === "1")
													sex = "Female";
												if (users[i]['sex'] === "2")
													sex = "Male";
												if (users[i]['sex'] === "3")
													sex = "Other";
											%>
											<p class="card-text">Sexuality :: <%= sexuality %></p>
											<p class="card-text">Gender :: <%= sex %></p>
											<p class="card-text">Distance from you :: <%= users[i]['distance'].toFixedDown(0) %> KM away</p>
											<p class="card-text">Possible match of :: <%= users[i]['compatibility'].toFixedDown(0) %> %</p>
											<a href="/view/<%= users[i]['_id'] %>" class="btn btn-primary">View</a>
											<a href="/report/<%= users[i]['_id'] %>" class="btn btn-danger">Fake</a>
										</div>
									</div>
									<hr>
									<%
									}
								}
							%>
							<hr>
							<!--End of Cards-->
						</div>
					</div>
					<% } %>
					<hr>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
