<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<div class="container page">
				<hr>
				<% if (setup === false) {
					%>
					<h1>Please setup account before you can search for users</h1>
					<a class="nav-link" href="/profile">&lt;Profile/&gt;</a>
					<%
				} else { %>
						<div class="w-100">
							<!--Cards-->
							<%
								var blocklist = user.blocks;
								for (var i = 0; i < blocklist.length; i++)
								{
									blocklist[i] = blocklist[i].toString();
								}
								for (var i = 0; i < users.length; i++) {
									var u = users[i];
									if (u['username'] === null || u['firstname'] === null || u['lastname'] === null || u['Prof'] !== null)
									{
									var date = new Date();
									var mydate = new Date(users[i]['age']);
									var myAge = date.getFullYear() - mydate.getFullYear();
									if (myAge > 17)
									{
										if (users[i]['_id'].toString() != user['_id'].toString())
										{
											var bid = users[i]['_id'];
											bid = bid.toString();
											if (blocklist.indexOf(bid) === -1) {
												var R = 6371; // Radius of the earth in km
												var dLat = (users[i].location[0]-user.location[0]) * (Math.PI/180);  // deg2rad below
												var dLon = (users[i].location[1]-user.location[1]) * (Math.PI/180); 
												var a = 
												Math.sin(dLat/2) * Math.sin(dLat/2) +
												Math.cos((user.location[0]) * (Math.PI/180)) * Math.cos((users[i].location[0]) * (Math.PI/180)) * 
												Math.sin(dLon/2) * Math.sin(dLon/2)
												; 
												var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
												var d = R * c; // Distance in km 
												//Calculate mTags
													var rate = 0;
													for(var k = 0; k < user['tags'].length; k++) {
														for (var j = 0; j < users[i]['tags'].length; j++) {
															if (user['tags'][k] == users[i]['tags'][j]) {
																rate++;
																break;
															}
														}
													}
												//Calculate max match
												var Total = (user['tags'].length > users[i]['tags'].length ? users[i]['tags'].length : user['tags'].length);
												if (Total === 0)
													Total = 1;
												//%%%%%
												var percent = (rate / Total) * 100;
												%>
												<div class="card text-white bg-dark rounded" class="w-25">
												<img class="card-img" src="<%= users[i]['Prof'] %>" alt="Card image cap">
												<div class="card-body">
													<h5 class="card-title"><%= users[i]['username'] %></h5>
													<p class="card-text"><%= users[i]['biography'] %></p>
													<% 
														var sexuality = "";
														if (users[i]['sexuality'] === "1")
															sexuality = "Bisexual";
														if (users[i]['sexuality'] === "2")
															sexuality = "Heterosexual";
														if (users[i]['sexuality'] === "3")
															sexuality = "Homosexual";
														
														var sex = "";
														if (users[i]['sex'] === "1")
															sex = "Female";
														if (users[i]['sex'] === "2")
															sex = "Male";
														if (users[i]['sex'] === "3")
															sex = "Other";
													%>
													<p class="card-text">Sexuality :: <%= sexuality %></p>
													<p class="card-text">Gender :: <%= sex %></p>
													<p class="card-text">Distance from you :: <%= d.toFixedDown(0) %> KM away</p>
													<p class="card-text">Possible match of :: <%= percent.toFixedDown(0) %> %</p>
													<a href="/view/<%= users[i]['_id'] %>" class="btn btn-primary">View</a>
													<a href="/like/<%= users[i]['_id'] %>" class="btn btn-primary">Like</a>
													<a href="/block/<%= users[i]['_id'] %>" class="btn btn-warning">Block</a>
													<a href="/report/<%= users[i]['_id'] %>" class="btn btn-danger">Fake</a>
												</div>
											</div>
											<hr>
											<%
											} 
										}
									}
								}
							}	
							%>
							<hr>
							<!--End of Cards-->
						</div>
					</div>
					<% } %>
					<hr>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
