<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		
		<header>
			<% include ../partials/header %>
		</header>
		
		<main>
			<div class="container page">
				<hr>
				<% if (setup === false) {
					%>
					<h1>Please setup account before you can search for users</h1>
					<a class="nav-link" href="/profile">Profile</a>
					<%
				} else if (users.length == 0)
				{
					%>
						<h1>You currently don't have any matches available</h1>
					<%
				}
				else
				{ %>
					<a href="/filter"><h1>Filter your search</h1></a>
					<div class="w-100">
						<!--Cards-->
						<%
							for (var i = 0; i < users.length; i++) {
								var u = users[i];
								if (users[i]['_id'].toString() != user['_id'].toString())
								{
									users[i].location = [0,0]
									var bid = users[i]['_id'];
									bid = bid.toString();
										var d = u.distance ? u.distance : 0;
										%>
										<div class="card text-white bg-dark rounded" class="w-25">
										<img class="card-img" src="<%= users[i]['profile_picture'] %>" alt="Card image cap">
										<div class="card-body">
											<h5 class="card-title"><%= users[i]['username'] %></h5>
											<p class="card-text"><%= users[i]['biography'] %></p>
											<% 
												var sexuality = "";
												if (users[i]['sexuality'] === "1")
													sexuality = "Bisexual";
												if (users[i]['sexuality'] === "2")
													sexuality = "Heterosexual";
												if (users[i]['sexuality'] === "3")
													sexuality = "Homosexual";
												
												var sex = "";
												if (users[i]['sex'] === "1")
													sex = "Female";
												if (users[i]['sex'] === "2")
													sex = "Male";
												if (users[i]['sex'] === "3")
													sex = "Other";
											%>
											<p class="card-text">Sexuality :: <%= sexuality %></p>
											<p class="card-text">Gender :: <%= sex %></p>
											<p class="card-text">Distance from you :: <%= d.toFixedDown(0) %> KM away</p>
											<p class="card-text">Possible match of :: <%= u["compatibility"].toFixedDown(0) %> %</p>
											<a href="/view/<%= users[i]['_id'] %>" class="btn btn-primary">View</a>
											<a href="/report/<%= users[i]['_id'] %>" class="btn btn-danger">Fake</a>
										</div>
									</div>
									<hr>
									<%
								}
							}	
						%>
					<hr>
					<!--End of Cards-->
				</div>
			</div>
			<% } %>
		<hr>
    <!-- </div> -->
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
